@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .games {
        display: none;
    }

    .header {
        &__hello {
            font-size: 40px;
            text-align: center;
        }
        &__description {
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            max-width: 296px;
        }
        &__button {
            width: 78px;
            padding-right: 103.5px;
            padding-left: 103.5px;
            margin-top: 36px;
            font-size: 16px;
        }
        &__mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .star {
        &-big-green {
            top: 97px;
            left: 38px;
            border-width: 1px;
        }
        &-small {
            top: 64px;
            left: 92px;
            border-width: 1px;
        }
        &-giant {
            top: 0px;
            right: 0px;
            border-width: 1px;
        }
        &-small-green {
            top: 557px;
            left: 273px;
            border-width: 1px;
        }
        &-big {
            top: 580px;
            left: 304px;
            border-width: 1px;
        }
        &-first-little {
            display: none;
        }
        &-first-big {
            display: none;
        }
        &-second-little {
            display: none;
        }
        &-second-big {
            display: none;
        }
    }

    .mini-games__about {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        padding-top: 48px;
        margin-bottom: 48px;
    }
    .plays {
        margin-bottom: 24px;
        width: 343px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &-rev {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
    }

    .play {
        margin-right: 29px;
        margin-left: 29px;
        margin-top: 29px;
        margin-bottom: 32px;
        max-width: 285px;
        &__name {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
        }
        &__description {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
            margin-top: 16px;
            margin-bottom: 32px;
        }
        &__button {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 142%;
            letter-spacing: 0%;
            text-align: center;
            width: 285px;
        }
    }
    .footer {
        height: 100px;
    }
    .footer__text {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        padding-top: 40px;
    }
    .game-size {
        &1 {
            height: 529px;
        }
        &2 {
            height: 568px;
        }
        &3 {
            height: 568px;
        }
        &4 {
            height: 607px;
        }
        &5 {
            height: 568px;
        }
        &6 {
            height: 627px;
        }
    }
}