@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .games {
        display: none;
    }

    .header {
        &__hello {
            font-size: 40px;
            text-align: center;
        }
        &__description {
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            max-width: 296px;
        }
        &__button {
            width: 78px;
            padding-right: 103.5px;
            padding-left: 103.5px;
            margin-top: 36px;
            font-size: 16px;
        }
        &__mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .star {
        &-big-green {
            top: 97px;
            left: 38px;
            border-width: 1px;
        }
        &-small {
            top: 64px;
            left: 92px;
            border-width: 1px;
        }
        &-giant {
            top: 0px;
            right: 0px;
            border-width: 1px;
        }
        &-small-green {
            top: 557px;
            left: 273px;
            border-width: 1px;
        }
        &-big {
            top: 580px;
            left: 304px;
            border-width: 1px;
        }
    }
}